.input_prompt, .output_prompt {
  width: 0px;
  position: relative;
  left: -8%;
  float: left;
  margin-top: 3px;
  font-size: 16px;
}

.output_prompt {
	color: #004BFF;
}

.output_text > pre {
	background-color: #fff;
}

.input_prompt {
	color: #a00;
}
